body,
h1,
p,
a,
button {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Fira Sans', sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.quiz-container {
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 600px;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    border: 2px solid #ffffff;
    border-radius: 10px;
}

h1 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
    text-decoration: underline;
}

h2 {
    color: white;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.menu-button {
    font-size: 20px;
    font-weight: 600;
    width: 85%;
    background-color: #dc3545;
    color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
    margin: 10px;
}

.menu-button:hover {
    width: 85%;
    background-color: #212529;
    color: #fff;
    border: none;
}

.menu-choicebox {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.instructions-list {
    padding-right: 2%;
}

.instructions-list-item {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-align: left;
    margin-left: 4%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#return-button {
    font-size: 20px;
    font-weight: 600;
    width: 85%;
    background-color: #dc3545;
    color: #fff;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    cursor: pointer;
}

.question-container div {
    font-family: 'Fira Sans', sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

#return-button:hover {
    font-size: 20px;
    font-weight: 600;
    width: 85%;
    background-color: #212529;
    color: #fff;
    border: none;
}


.box.high-scores-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.box.high-scores-table {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.box.high-scores-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#high-scores-table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 20px 0;
}

#high-scores-table th,
#high-scores-table td {
    padding: 10px 15px;
    border: 3px solid black;
}

#high-scores-table th {
    background-color: #dc3545;
    font-weight: bold;
}

#high-scores-table tr:nth-child(even) {
    background-color: #fff;
    color: #212529;
}

#high-scores-table tr:nth-child(odd) {
    background-color: #dc3545;
}

.score-text {
    font-weight: bold;
    color: #fff;
    font-size: 24px;
}

@media (max-width: 1152px) {
    .quiz-container {
        width: 75%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 768px) {
    body {
            background-position-x: 10%;
        }

    .quiz-container {
        width: 75%;
        padding-left: 10px;
        padding-right: 10px;
    }

    h1 {
        font-size: 30px;
    }

    .menu-button {
        font-size: 16px;
        padding: 15px;
    }

    .instructions-list-item {
        font-size: 16px;
        margin-left: 2%;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    #return-button {
        font-size: 16px;
        padding: 15px;
    }
}

.mute-menu-button {
    position: relative;
    bottom: 10px;
    left: 10px;
    border: none;
    cursor: pointer;
}

@media (max-width: 480px) {
    body {
        background-position-x: 15%;
    }

    .quiz-container {
        width: 65%;
    }

    h1 {
        font-size: 24px;
    }

    .menu-button {
        font-size: 14px;
        padding: 12px;
    }

    .instructions-list-item {
        font-size: 14px;
        margin-left: 2%;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    #return-button {
        font-size: 14px;
        padding: 12px;
    }
}